#registerForm{
    background-color:pink;
}

a[href="http://google.com"]{
    color: brown;
}


a[href="http://yahoo.com"]{
    color: yellow;
}

section > h1{

    background-color: red;

}

section+h1{
    background-color: blue;
}

.round-box{
    background-color: blue;
    border-radius: 20px;
    width:600px;
    height: 200px;
    padding: 50px;
}