#registerForm{
    background-color:pink;
}

a[href="http://google.com"]{
    color: brown;
}


a[href="http://yahoo.com"]{
    color: yellow;
}

section > h1{

    background-color: red;

}

section+h1{
    background-color: blue;
}